* {
  font-family: 'Lato', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: whitesmoke;
}

header {
  color: white;
  background-image: linear-gradient(to right bottom, #220055, #550022);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

form {
  margin: 1rem;
  display: flex;
}

form input[type=text] {
  flex: 10;
  padding: 1rem;
  border: none;
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem;
  outline: none;
  background: whitesmoke;
  background: #f5f5f5;
  box-shadow: inset 7px 7px 7px #e1e1e1, 
              inset 7px -7px 7px #ffffff;
}

form input[type=submit] {
  color: white;
  background: linear-gradient(to right bottom, #5b0024, #4d003f);
  border: none;
  flex: 4;
  cursor: pointer;
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
  box-shadow:  4px 4px 7px #d0d0d0, 
                0 -4px 7px #ffffff;
  z-index: 2;
}

.todos {
  margin: 2rem 1rem;
}

.todos div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.5rem .5rem;
  padding: 1rem;
  background: whitesmoke;
  border-radius: .5rem;
  box-shadow:  5px 5px 7px #d0d0d0, 
               -5px -5px 7px #ffffff;
}

.todos div p {
  flex: 10;
  font-size: 1.5rem;
  max-width: 70%;
}

.todos div button {
  color: white;
  font-weight: bolder;
  background: linear-gradient(145deg, #450039, #520043);
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  cursor: pointer;
}